.add_course_box {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.description__box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
}
.description {
    width: 100%;
    height: 120px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border-style: solid;
    border-color: blueviolet;
    border-width: 2px;
}
.add_info_box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    height: 230px;
    overflow:auto;
}
.add__title {
    align-self: center;
    margin-bottom: 15px;
}
.added__author {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-self: center;
}
.duration__rez {
    margin-top: 10px;
    font-size: 20px;
}
.duration__rez span{
    text-transform: uppercase;
    font-size: 30px;
    border-width: 700;
}
.title {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.error {
    color: brown;
}
@media (max-width: 720px) {
    .box {
        width: 100%;
        align-items: center;
    }
    .add_info_box {
        flex-direction: column;
    }
    .added__author {
        width: 90%;
    }

    
}